.u-margin-bottom-small {
  margin-bottom: 0.3rem;
}
.u-margin-bottom-medium {
  margin-bottom: 2rem;
}

.u-margin-bottom-large {
  margin-bottom: 4rem;
}

.title {
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem;
  text-decoration: underline;
}
