*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Open Sans", sans-serif; }

html {
  font-size: 62.5%;
  background-color: rgba(255, 228, 0, 0.4); }

body {
  box-sizing: border-box;
  padding: 3rem; }

.container {
  max-width: 140rem;
  max-height: 90rem;
  background-color: #e25d60;
  border: 4px solid black;
  padding: 3rem;
  margin: auto; }

.before--content {
  text-align: center;
  font-size: 1.7em;
  padding: 2rem; }

.heading-primary {
  text-align: center; }
  .heading-primary--main {
    text-transform: uppercase;
    display: block;
    font-size: 3rem; }
  .heading-primary--sub {
    text-transform: uppercase;
    font-size: 2.5rem; }

.search {
  padding-top: 1.5rem;
  text-align: center; }
  .search__field {
    width: 20rem;
    height: 3rem;
    border-radius: 5rem;
    font-size: 1.5rem;
    padding: 1rem; }

.flexbox--container {
  display: flex;
  justify-content: space-around;
  min-height: 55rem;
  color: black; }

.results--container {
  width: 25%;
  max-height: 57rem;
  background-color: #e8a87c;
  border: 3px solid black; }

.beer--container {
  width: 30%;
  height: auto;
  background-color: #e8a87c;
  border: 3px solid black; }

.information--container {
  width: 35%;
  height: auto;
  padding: 1rem;
  background-color: #e8a87c;
  border: 0.3rem solid black; }

.search--container {
  display: flex;
  flex-direction: column;
  height: auto; }

.preview {
  padding: 0.7rem 0.7rem 0 0.7rem; }
  .preview:last-child {
    margin-bottom: 2rem; }
  .preview__box {
    padding: 1.2rem;
    border: none;
    background-color: #efefef;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    width: 100%;
    outline: none; }
    .preview__box:hover {
      cursor: pointer; }
  .preview__img {
    height: 6rem; }
  .preview__data {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    font-size: 1.5rem; }

li {
  list-style-type: none; }

.information {
  font-size: 2rem;
  text-align: center;
  padding: 1rem; }

.info {
  padding: 0.5rem;
  border: 2px solid black; }
  .info__type {
    font-style: italic;
    font-size: 1.5rem;
    text-transform: uppercase; }
  .info__content {
    font-size: 1.3rem;
    color: #efefef; }
  .info__ingredient {
    font-size: 2rem;
    font-style: italic;
    color: black; }

.beer {
  border-radius: 1.5rem;
  margin: auto;
  text-align: center; }
  .beer__name {
    font-size: 2rem; }
  .beer__image {
    display: inline-block;
    width: auto;
    height: 85%; }
  .beer__abv {
    font-size: 2.5rem; }

.u-margin-bottom-small {
  margin-bottom: 0.3rem; }

.u-margin-bottom-medium {
  margin-bottom: 2rem; }

.u-margin-bottom-large {
  margin-bottom: 4rem; }

.title {
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem;
  text-decoration: underline; }

.btn {
  text-transform: uppercase;
  padding: 1rem 2rem;
  border-radius: 2rem;
  outline: none; }
  .btn:hover span {
    padding-right: 25px; }
  .btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s; }
  .btn span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s; }
  .btn:hover span {
    padding-right: 25px; }
  .btn:hover span:after {
    opacity: 1;
    right: 0; }

.btn--inline {
  height: 3rem;
  width: 7rem;
  font-size: 1.5rem;
  border-radius: 2rem; }

.pagination__btn--prev {
  float: left;
  margin-left: 1rem; }

.pagination__btn--next {
  float: right;
  margin-right: 1rem; }

/*# sourceMappingURL=style.f7c7f8c7.css.map */
